<div class="testimonial_section layout_padding">
    <div class="container">
        <f:if condition="{data.tx_mask_treeicon}">
            <div class="tree_icon_2">
                <f:for each="{data.tx_mask_treeicon}" as="file"><img src="{f:uri.image(image: '{file}', width: 51)}" alt="{file.alternative}" /></f:for>
            </div>
        </f:if>
        <f:if condition="{data.tx_mask_testitle}"><h1 class="testimonial_taital">{data.tx_mask_testitle}</h1></f:if>
        <f:if condition="{data.tx_mask_centerimg}">
            <div class="image_2">
               <f:for each="{data.tx_mask_centerimg}" as="file"><img src="{f:uri.image(image: '{file}', width: 524, height: 561)}" alt="{file.alternative}" /></f:for> 
            </div>
        </f:if>
    </div>
    <div class="testimonial_section_2">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <f:if condition="{data.tx_mask_testrpt}">
                    <f:for each="{data.tx_mask_testrpt}" as="data_item" iteration="i">
                        <div class="carousel-item {f:if(condition: '{i.isFirst}', then: 'active')}">
                            <div class="container">
                                <f:if condition="{data_item.tx_mask_picture}">
                                    <div class="image_6">
                                        <f:for each="{data_item.tx_mask_picture}" as="file">
                                            <img src="{f:uri.image(image: '{file}', width: 444, height: 300)}" alt="{file.alternative}" />
                                        </f:for>
                                    </div>
                                </f:if>
                                <f:if condition="{data_item.tx_mask_information}">
                                  {data_item.tx_mask_information -> f:format.html()}
                               </f:if>
                            </div>
                        </div>
                    </f:for>
                </f:if>
            </div>
        </div>
    </div>
</div>