<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{form.label}"><div class="contact_taital">{form.label}</div></f:if>
<formvh:renderRenderable renderable="{form}">
     <div class="contact_main">
        <formvh:form object="{form}" action="{form.renderingOptions.controllerAction}" method="{form.renderingOptions.httpMethod}" id="{form.identifier}" section="{form.identifier}" enctype="{form.renderingOptions.httpEnctype}" addQueryString="{form.renderingOptions.addQueryString}" argumentsToBeExcludedFromQueryString="{form.renderingOptions.argumentsToBeExcludedFromQueryString}" additionalParams="{form.renderingOptions.additionalParams}" additionalAttributes="{formvh:translateElementProperty(element: form, property: 'fluidAdditionalAttributes')}" novalidate="true">
            <f:render partial="{form.currentPage.templateName}" arguments="{page: form.currentPage}" />
            <div class="send_btn">
                <f:form.button property="__currentPage" value="{form.pages -> f:count()}">
                    {formvh:translateElementProperty(element: form, renderingOptionProperty: 'submitButtonLabel')}
                </f:form.button>
            </div>
        </formvh:form>
    </div>
</formvh:renderRenderable>
</html>