<style type="text/css">
    .tree_icon_1 { width: 64%; float: right; position: relative; top: 13px; left: 4px; }
    .gifts_taital { width: 100%; float: left; font-size: 50px; color: #292c29; font-weight: bold; position: relative; text-align: center; text-transform: uppercase; }
    .gifts_taital::after { content: ''; position: absolute; width: 65px; height: 10px; background-color: #e81d42; margin: 0 auto; left: 6px; right: 0px; display: block; border-radius: 100px; }
    .image_2 { text-align: center; }
    .gifts_section_2 { background-image: url(/fileadmin/at_christmas//gifts-bg.png); height: auto; background-size: 100%; background-repeat: no-repeat; padding-bottom: 40px; padding-top: 60px; }
    .owl-carousel .item img { display: block; width: 100%; }
</style>
<div class="gifts_section layout_padding">
    <div class="container">
        <f:if condition="{data.tx_mask_treeicon}">
            <div class="tree_icon_1">
                <f:for each="{data.tx_mask_treeicon}" as="file"><img src="{f:uri.image(image: '{file}', width: 51)}" alt="{file.alternative}" /></f:for>
            </div>
        </f:if>
        <f:if condition="{data.tx_mask_giftitle}"><h1 class="gifts_taital">{data.tx_mask_giftitle}</h1></f:if>
        <f:if condition="{data.tx_mask_img}">
            <div class="image_2">
                <f:for each="{data.tx_mask_img}" as="file"><img src="{f:uri.image(image: '{file}', width: 524, height: 561)}" alt="{file.alternative}" /></f:for>
            </div>
        </f:if>
    </div>
    <div class="gifts_section_2 layout_padding">
        <div class="owl-carousel owl-theme" style="display: flex; width: 1170px;">
            <f:if condition="{data.tx_mask_rptimg}">
                <f:for each="{data.tx_mask_rptimg}" as="data_item">
                    <div class="item" style="margin-right: 25px;">
                        <f:for each="{data_item.tx_mask_sliderimg}" as="file"><img src="{f:uri.image(image: '{file}', width: 808)}" alt="{file.alternative}" /></f:for>
                    </div>
                </f:for>
            </f:if>
        </div>
    </div>
</div>